$main:          #dba423;
$white:         #ffffff;
$dark:          #343539;
$gray-light:    #cbccce;
$gray-dark:     #595959;

$dark-text:     #212529;
$white-text:     $white;

$bg-dark:       #232324;
$bg-light:      #e5e7ed;